<% include partials/header %>
<h1 style="align: center"> Hello <%= name %> !!!</h1>
<a href="/user/logout"><button class="btn btn-warning" onclick="deleteCookies()" style="align: right">LogOut</button></a>
<% if (work.length == 0){ %>
   <h1><%= 'No work for today'  %></h1>
<% }else{ %>
    <table>
        <% work.forEach(function (works){ %>
        <tr>
            <td> <%= works.title %> </td>
            <td> <%= works.givenBy %> </td>
            <td> <%= works.status %> </td>
            <td> <%= works.deadLine %> </td>
        </tr>
        <% }) %>
    </table>
<% } %>
<a href="/user/details"><button class="btn btn-primary">My Details</button></a>
<script>
    function deleteCookies(){
        var now = new Date();
        now.setHours(now.getHours() -2);
        document.cookie = 'jsontoken='+ '<%= token %>' + ';Expires=' + now.toUTCString() + ';' ;
        now = undefined;
    }
    function writingCookies(){
        var now = new Date();
        now.setHours(now.getHours()+1);
        document.cookie = 'jsontoken=' + '<%= token %>' +';Expires=' + now.toUTCString() +';';
        now = undefined;
    }
    writingCookies();
</script>
<% include partials/footer %>
